.contactUs {
  width: 80vw;
  margin: 20vh auto;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursorColor {
  background: radial-gradient(var(--border-green), transparent, transparent);
}

.contactUsHeader {
  text-align: center;
  font-family: "Open Sans", serif;
  color: var(--title-color);
  font-size: 4rem;
  margin-bottom: 5px;
}

.tagline {
  text-align: center;
  font-family: "Open Sans", serif;
  font-weight: 400;
  color: var(--tagline-color);
  margin-bottom: 6rem;
}

.map {
  width: 50vw;
  height: 40vh;
  border-radius: 15px;
}

.contentContainer {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.content {
  width: 49%;
  min-width: min-content;
  padding: 1rem 1.2rem;
  background-color: rgba(255, 255, 255, 0.121);
  border-radius: 15px;
}

.content h1 {
  color: var(--title-color);
}

.email {
  color: var(--tagline-color);
  font-size: 1.8rem;
  text-decoration: none;
}

.call {
  color: var(--tagline-color);
  font-size: 1.8rem;
  margin-bottom: 0;
  text-decoration: none;
}

.mailLogo,
.callLogo {
  height: 3rem;
  width: 3rem;
  fill: var(--tagline-color);
}

.borderTop {
  border-top: 2px solid;
  border-top-color: var(--border-green);
}

.borderBottom {
  border-bottom: 2px solid;
  border-bottom-color: var(--border-green);
}

.borderLeft {
  border-left: 2px solid;
  border-left-color: var(--border-green);
}

.borderRight {
  border-right: 2px solid;
  border-right-color: var(--border-green);
}

.borderTopLeft {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: var(--border-green);
  border-left-color: var(--border-green);
}

.borderTopRight {
  border-top: 2px solid;
  border-right: 2px solid;
  border-top-color: var(--border-green);
  border-right-color: var(--border-green);
}

.borderBottomLeft {
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-bottom-color: var(--border-green);
  border-left-color: var(--border-green);
}

.borderBottomRight {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-bottom-color: var(--border-green);
  border-right-color: var(--border-green);
}

@media only screen and (max-width: 1200px) {
  .contactUsHeader {
    font-size: 3.5rem;
  }

  .tagline,
  .content h1 {
    font-size: 2rem;
  }

  .contentContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .content {
    width: inherit;
  }

  .mailLogo,
  .callLogo {
    height: 2rem;
    width: 2rem;
  }

  .email,
  .call {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1050px) {

  .map,
  .contentContainer {
    width: 60vw;
  }
}

@media only screen and (max-width: 768px) {

  .contactUsHeader {
    font-size: 3rem;
  }

  .tagline,
  .content h1 {
    font-size: 1.4rem;
  }

  .map,
  .contentContainer {
    width: 70vw;
  }
}

@media only screen and (max-width: 480px) {
  .contactUs {
    width: 90vw;
  }

  .contactUsHeader {
    font-size: 2.5rem;
  }

  .tagline {
    font-size: 1.2rem;
  }

  .content h1 {
    font-size: 1.4rem;
  }

  .email,
  .call {
    font-size: 1.2rem;
  }

  .map,
  .contentContainer {
    width: 80vw;
  }
}

@media only screen and (max-width: 360px) {

  .contactUsHeader {
    font-size: 2.5rem;
  }

  .tagline {
    font-size: 1.2rem;
  }

  .map,
  .contentContainer {
    width: 80vw;
  }
}