.courses {
  width: 80vw;
  margin: 20vh auto;
  padding: 3rem 5rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursorColor {
  background: var(--pink-glow);
}

.coursesHeader {
  text-align: center;
  font-family: "Open Sans", serif;
  color: var(--title-color);
  font-size: 4rem;
  margin-bottom: 5px;
}

.tagline {
  text-align: center;
  font-family: "Open Sans", serif;
  font-weight: 400;
  color: var(--tagline-color);
  margin-bottom: 60px;
}

.coursesSlider {
  height: 60vh;
  width: 50vw;
}

.borderTop {
  border-top: 2px solid;
  border-top-color: var(--border-purple);
}

.borderBottom {
  border-bottom: 2px solid;
  border-bottom-color: var(--border-purple);
}

.borderLeft {
  border-left: 2px solid;
  border-left-color: var(--border-purple);
}

.borderRight {
  border-right: 2px solid;
  border-right-color: var(--border-purple);
}

.borderTopLeft {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: var(--border-purple);
  border-left-color: var(--border-purple);
}

.borderTopRight {
  border-top: 2px solid;
  border-right: 2px solid;
  border-top-color: var(--border-purple);
  border-right-color: var(--border-purple);
}

.borderBottomLeft {
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-bottom-color: var(--border-purple);
  border-left-color: var(--border-purple);
}

.borderBottomRight {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-bottom-color: var(--border-purple);
  border-right-color: var(--border-purple);
}

@media only screen and (max-width: 1200px) {
  .coursesSlider {
    width: 55vw;
  }

  .coursesHeader {
    font-size: 3.5rem;
  }

  .tagline {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1050px) {
  .coursesSlider {
    width: 60vw;
  }
}

@media only screen and (max-width: 940px) {
  .coursesSlider {
    width: 70vw;
  }
}

@media only screen and (max-width: 768px) {
  .coursesHeader {
    font-size: 3rem;
  }

  .tagline {
    font-size: 1.4rem;
  }

  .coursesSlider {
    width: 70vw;
    height: 50vh;
  }
}

@media only screen and (max-width: 480px) {
  .courses {
    width: 90vw;
  }

  .coursesHeader {
    font-size: 2.5rem;
  }
  .tagline {
    font-size: 1.2rem;
  }
}
