.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.975);
  font-family: "Open Sans", serif;
}


.logo {
  height: 5vh;
  width: 10vw;
  min-width: 13rem;
  background-image: url('../../Assets/tech-hub.png');
  background-size: cover;
}


.logoNavSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menuToggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 25px;
  background-color: var(--title-color);
  margin: 3px 0;
}

.navLinks {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  margin: 0 2.5rem;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}

.navLinks li a:hover {
  color:#e6b7fe;
}

@media screen and (max-width: 700px) {
  .menuToggle {
    display: flex;
  }

  .navLinks {
    display: none;
  }

  .navMobMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    background-color: rgb(32, 35, 41);
    padding: 1rem 0;
    z-index: 1;
  }

  .navMobMenu li {
    margin: 0.5rem 0;
    text-align: center;
  }

  .navMobMenu li a {
    text-decoration: none;
    color: var(--title-color);
    font-size: 1.8rem;
  }

  .navMobMenu li a:hover {
    color: #e6b7fe;
  }

  .divider {
    height: 1px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.461);
    margin: 0.5rem 0;
  }
}
