.featuresSection {
  width: 80vw;
  padding: 3% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25vh auto;
  position: relative;
  flex-direction: row-reverse;
}

.blueGlow {
  height: 100%;
  width: 40%;
  position: absolute;
  left: -5%;
  z-index: -3;
  filter: blur(100px);
  background: var(--blue-glow);
}

.pinkGlow {
  height: 100%;
  width: 50%;
  position: absolute;
  right: -8%;
  bottom: -10%;
  z-index: -3;
  filter: blur(120px);
  background: var(--pink-glow);
}

.leftStars {
  height: 100%;
  width: 60%;
  position: absolute;
  right: -8%;
  bottom: -15%;
  z-index: -2;
  background-image: url("../../../Assets/stars.png");
  background-size: cover;
  background-position: center;
}

.features {
  width: 50%;
}

.features h1 {
  font-family: "Open Sans", serif;
  font-size: 3.8rem;
  /* color: var(--title-color); */
  color: rgb(245, 207, 128);
  margin-bottom: 3vh;
}

.features ul li {
    list-style: none;
    margin-bottom: 2vh;
    font-family: "Open Sans", serif;
    font-size: 1.8rem;
    color: var(--title-color);
    word-spacing: 0.3rem;
    font-weight: 500;
}

.features ul span {
    font-family: "Open Sans", serif;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(245, 207, 128);
}

.pic {
  width: 30%;
  height: 35vh;
  object-fit: contain;
  position: relative;
  animation: JumpAnimate 1.5s infinite ease-in-out;
}

@keyframes JumpAnimate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
